body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Slide */

#fundoBuscar div img {
    object-fit: cover;
}


#buscarGeral {
    margin: auto;
    top: -290px;
}
/* Fim Slide */

/*  Começo main  */

/* Recomendações */

img.recomendacoesImagem {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.5s;
}

img.recomendacoesImagem:hover {
    transform: scale(1.1);
}

@media (max-width : 1080px){
    img.recomendacoesImagem {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        transition: 0.5s;
    }
    
    img.recomendacoesImagem:hover {
        transform: scale(1.1);
    }
}

/* Fim Recomendações */

/* Destaques */

img.imagemCard {
    object-fit: cover;
}

img.imagemCard2 {
    object-fit: cover;
    object-position: 0px 0px;
}

/* Fim Destaques */

/* Dicas */

.legendaImagemDicas {
    font-size:18px;
    top:50%;
    left:0;
    right:0;
    padding:0 15px;
    color:#fff;
    transform:translateY(-50%);
    position:absolute;
    font-weight: 700;
    z-index: 10;
}

.figureDicas img {
    object-fit: cover;
    box-shadow: 8px -7px 15px -7px rgba(0, 0, 0, 0.75);
    transition: 0.4s;
}
.figureDicas:hover img{
    transform: scale(1.1);
}
.figureDicas{
    max-height: 150px;
    overflow:hidden;
    border-radius:3px;
}

/* Fim Dicas */

/* Fim main */