#menuHeader {
    transition: 0.6s;
    background-color: rgb(100, 100, 100, .4);
}

#iconeMenu {
    font-size: 50px;
    line-height: 70px;
    color: #ffffff;
}

#botaoMenu:focus {
    outline: thin dotted;
    outline: 0px auto;
    outline-offset: 0px;
}

#navBar {
    transition: 0.7s;
}

.nav-link {
    transition: 0.5s;
}

/* Perfil do Usuário */

#img-perfil{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#button-perfil{
    text-decoration: none;
    transition: 0.6s;
}
#button-perfil span{
    transition: 0.6s;
}

#button-perfil:hover{
    background-color: rgb(100, 100, 100, .4);
}

/* Modal */

.modals {
    top: 0px;
    right: 0px;
    z-index: 999999999;
}

.modal-cadastro {
    position: fixed;
    background-color: #FFFFFF;
    color: #000000;
    margin-top: 89px;
    height: 100%;
    box-shadow: -1px 4px 5px 2px #ccc;
    opacity: 91%;
    z-index: 99999999;
}

.modal-login {
    position: fixed;
    background-color: #FFFFFF;
    color: #000000;
    margin-top: 89px;
    height: 100%;
    box-shadow: -1px 4px 5px 2px #ccc;
    opacity: 91%;
    z-index: 99999999;
}

.close-modal {
    font-weight: bolder;
    align-self: flex-end;
    margin-right: 30px;
    background-color: #fff;
    width: 25px;
    border-radius: 14px;
    box-shadow: 0px 0px 5px 2px #ccc;
    cursor: pointer;
}

.close-modal:hover {
    box-shadow: 0px 0px 4px 1px #ccc;
}

@media (max-width: 926px){
    .modal-cadastro {
        margin-top: 95px;
    }

    .modal-login{
        margin-top: 95px;
    }
}

/* Form */

.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #D6D2D2;

}
