#menuHeader {
    transition: 0.6s;
    background-color: rgb(100, 100, 100, .3);
}

#iconeMenu {
    font-size: 50px;
    line-height: 70px;
    color: #ffffff;
}

#botaoMenu:focus {
    outline: thin dotted;
    outline: 0px auto;
    outline-offset: 0px;
}

#navBar {
    transition: 0.7s;
}

.nav-link {
    transition: 0.5s;
}