* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#aside {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 64px;
}

.div-img {
    margin-top: 100px;
    height: 200px;
}

#imageProfile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

#iconCamera {
    position: absolute;
    font-size: 50px;
    transition: 1s;
    opacity: 0;
    cursor: pointer;
}

#uploadImage {
    display: none;
}

/* Opções ao clicar na imagem */

#optionsClickImage {
    background-color: rgb(253, 253, 253);
    position: absolute;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26), 0 2px 10px 0 rgba(0, 0, 0, .16);
    position: absolute;
    top: 200px;
    margin-left: 70px;
    padding: 10px 0px 3px 0px;
    z-index: 9999;
    display: none;
}

.options {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px 0 10px 20px;
    font-family: sans-serif;
}

.options:hover {
    background-color: #ddd;
}

/* Preview Image Pofile */

#divViewImageProfile {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 10000;
    text-align: center;
    display: none;
    transition: 1s;
}
#iconClose{
    position: absolute;
    font-size: 50px;
    right: 50px;
    top: 50px;
    cursor: pointer;
}

#viewImageProfile{
    margin-top: 5%;
    width: 500px;
    height: 500px;
    display: none;
    border-radius: 3px;
    transition: 1s;
}

#labelConfimedImage{
    cursor: pointer;
}

#divCardUpload{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10000;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    padding-top: 3%;
}

#cardUploadImage{
    margin: auto;
    height: 550px;
    width: 500px;
}

#imageUpload{
    width: 460px;
    height: 450px;
    display: block;
    object-fit: cover;
}

@media(max-width:700px){
    #viewImageProfile{
        width: 80%;
        height: auto;
    }

    #iconClose{
        font-size: 30px;
        right: 10px;
        top: 20px;
    }

    #imageUpload{
        width: 100%;
        height: 90%;
    }

    #cardUploadImage{
        width: 90%;
        height: auto;
    }
}
